---
import type { CollectionEntry } from "astro:content";

import BaseLayout from "./Layout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";

type Props = CollectionEntry<"writeups">["data"];

const { year, day, title, pub_date } = Astro.props;

const writeupTitle = `Advent of Code ${year} day ${day} Solution`;
---

<BaseLayout title={writeupTitle}>
  <Breadcrumbs path={["writeups", String(year)]} page={`Day ${day}`} />
  <article>
    <h1>
      {title}
    </h1>

    <div class="info">
      <span>Published: <code>{pub_date}</code></span>
      <a href={`https://adventofcode.com/${year}/day/${day}`} target="_blank"
        >Original Prompt</a
      >
      <!-- <span> Concepts: Depth-First Search, Recursion, Pathfinding</span> -->
    </div>

    <slot />
  </article>
  <hr />
  <div class="footer-links">
    <a
      href={`https://github.com/xavdid/advent-of-code/blob/main/solutions/${year}/day_${String(
        day
      ).padStart(2, "0")}/solution.py`}
      target="_blank">Complete Solution</a
    >
    <!-- <a href="TKTK">RSS</a> -->
    <a href="https://github.com/xavdid/advent-of-code-python-template"
      >Use My Python Template</a
    >
  </div>
</BaseLayout>

<style>
  h1,
  .prompt {
    text-align: center;
  }
  .footer-links {
    display: flex;
    justify-content: space-around;
  }
  .info {
    display: flex;
    justify-content: space-around;
  }
</style>
