---
import type { CollectionEntry } from "astro:content";

import { getPublishedWriteups } from "../../utils/collections";
import BaseLayout from "../../layouts/Layout.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import NavControls from "../../components/NavControls.astro";

export const getStaticPaths = async () => {
  const writeups = await getPublishedWriteups();
  return writeups.map(({ slug, ...writeup }) => ({
    params: { slug },
    props: writeup,
  }));
};
type Props = CollectionEntry<"writeups">;

const writeup = Astro.props;
const { Content } = await writeup.render();
const {
  data: { year, day, title, pub_date },
} = Astro.props;

const writeupTitle = `Advent of Code ${year} Day ${day}: ${title}`;
---

<BaseLayout
  seo={{
    title: writeupTitle,
    tabTitle: `${year} Day ${day}: ${title} | @xavdid does Advent of Code`,
    description: `A step-by-step Python walkthrough for solving Advent of Code ${year} Day ${day}.`,
    pubDate: pub_date,
  }}
>
  <Breadcrumbs path={["writeups", String(year)]} page={`Day ${day}`} />
  <article>
    <h1>
      {title}
    </h1>

    <div class="info">
      <span>Published: <code>{pub_date || "TBD"}</code></span>
      <a href={`https://adventofcode.com/${year}/day/${day}`} target="_blank"
        >Original Prompt</a
      >
      <!-- <span> Concepts: Depth-First Search, Recursion, Pathfinding</span> -->
    </div>

    <Content />
  </article>
  <hr />
  <NavControls day={day} year={year} />
</BaseLayout>

<style>
  h1 {
    text-align: center;
  }
  .info {
    display: flex;
    justify-content: space-around;
  }
</style>
