---
import BaseLayout from "../../layouts/Layout.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import { type Writeup, getWriteupsByYear } from "../../utils/collections";

type Props = { year: number; writeups: Writeup[] };

// which pages to create and what data to pass to each page
const loadWriteups: () => Promise<Props[]> = async () => {
  const writeups = await getWriteupsByYear();
  return [...writeups.entries()]
    .map(([year, writeups]) => ({
      year,
      writeups: writeups.toSorted((a, b) => a.data.day - b.data.day),
    }))
    .sort((a, b) => b.year - a.year);
};

const writeups = await loadWriteups();
---

<BaseLayout
  seo={{
    title: "All Writeups | @xavdid does Advent of Code",
    description: "Every Advent of Code puzzle (since 2020),explained.",
  }}
>
  <Breadcrumbs page="writeups" />
  <h1>All Writeups</h1>
  {
    writeups.map(({ year, writeups }) => (
      <>
        <h2>
          <a class="no-anchor" href={`/writeups/${year}`}>
            {" "}
            {year}
          </a>
        </h2>
        <ul>
          {writeups.map(({ data: { day, title } }) => (
            <li>
              <a href={`/writeups/${year}/day/${day}`}>Day {day}</a>: {title}
            </li>
          ))}
        </ul>
      </>
    ))
  }
</BaseLayout>

<style>
  h2 > a {
    color: var(--links);
  }
</style>
