---
import { type CollectionEntry, getCollection } from "astro:content";

import Writeup from "../../layouts/Writeup.astro";
import BaseLayout from "../../layouts/Layout.astro";

import Breadcrumbs from "../../components/Breadcrumbs.astro";

type Writeup = CollectionEntry<"writeups">;
// type Props = { year: number; writeups: Writeup[] };

// which pages to create and what data to pass to each page
// : () => Promise< { params: { year: number }; props: Props }[] >
const loadWriteups = async () => {
  const writeups = await getCollection("writeups");

  const years = writeups.reduce((result, writeup) => {
    if (!result.has(writeup.data.year)) {
      result.set(writeup.data.year, []);
    }

    result.get(writeup.data.year)?.push(writeup);

    return result;
  }, new Map<number, Writeup[]>());

  return [...years.entries()]
    .map(([year, writeups]) => ({
      year,
      writeups: writeups.toSorted((a, b) => a.data.day - b.data.day),
    }))
    .sort((a, b) => b.year - a.year);
};

const writeups = await loadWriteups();
---

<BaseLayout title={`All Writeups`}>
  <Breadcrumbs page="writeups" />
  <h1>All Writeups</h1>
  {
    writeups.map(({ year, writeups }) => (
      <>
        <p>
          <a href={`/writeups/${year}`}> {year}</a>
        </p>
        <ul>
          {writeups.map(({ data: { day, title } }) => (
            <li>
              <a href={`/writeups/${year}/day/${day}`}>Day {day}</a>: {title}
            </li>
          ))}
        </ul>
      </>
    ))
  }
</BaseLayout>
